<div class="keyboard d-flex flex-column justify-content-center align-items-center py-2" [class.pwa-enabled]="isPwaEnabled()">
    <ec-virtual-letter-input
            [virtualLetterSet]="getTopVirtualSet()"
            [upperCaseActive]="isUpperCaseActive()"
            [lettersSetActive]="isLettersSetActive()"
            [numbersSetActive]="isNumbersSetActive()"
            [letterSetInWlsLearnMode]="true"
            [charactersSetActive]="isCharactersSetActive()"
            (eventVirtualInput)="onVirtualInput($event)"
            (eventBackSpace)="onBackSpace()"
            (eventSpace)="onSpacePressed()"
            (eventClickCheck)="onClickCheck()"
            (eventClickReturn)="onClickReturn()"
            (eventConvertCase)="convertCase()"
            (eventChangeKeyboardSet)="changeKeyboardSet($event)"
    >
    </ec-virtual-letter-input>
    <ec-virtual-letter-input
            [virtualLetterSet]="getMiddleVirtualSet()"
            [upperCaseActive]="isUpperCaseActive()"
            [lettersSetActive]="isLettersSetActive()"
            [letterSetInWlsLearnMode]="true"
            [numbersSetActive]="isNumbersSetActive()"
            [charactersSetActive]="isCharactersSetActive()"
            (eventVirtualInput)="onVirtualInput($event)"
            (eventBackSpace)="onBackSpace()"
            (eventSpace)="onSpacePressed()"
            (eventClickCheck)="onClickCheck()"
            (eventClickReturn)="onClickReturn()"
            (eventConvertCase)="convertCase()"
            (eventChangeKeyboardSet)="changeKeyboardSet($event)"
    >
    </ec-virtual-letter-input>
    <ec-virtual-letter-input
            [virtualLetterSet]="getBottomVirtualSet()"
            [upperCaseActive]="isUpperCaseActive()"
            [lettersSetActive]="isLettersSetActive()"
            [numbersSetActive]="isNumbersSetActive()"
            [letterSetInWlsLearnMode]="true"
            [charactersSetActive]="isCharactersSetActive()"
            [showLittleBackSpaceButton]="shouldShowLittleBackSpaceButton()"
            [activateBottomCharsClass]="true"
            [showNumbersButton]="shouldShowNumbersButton()"
            [showArrowButton]="shouldShowArrowButton()"
            [showSpaceBar]="shouldShowSpaceBar()"
            [showLettersButton]="shouldShowLettersButton()"
            [showCharsButton]="shouldShowCharsButton()"
            [checkButtonVisible]="isCheckButtonVisible()"
            [returnButtonVisible]="isReturnButtonVisible()"
            [showHideKeyboardButton]="shouldShowHideKeyboardButton()"
            (eventVirtualInput)="onVirtualInput($event)"
            (eventBackSpace)="onBackSpace()"
            (eventClickCheck)="onClickCheck()"
            (eventClickReturn)="onClickReturn()"
            (eventConvertCase)="convertCase()"
            (eventHideKeyboard)="onHideKeyboardPressed()"
            (eventChangeKeyboardSet)="changeKeyboardSet($event)"
    >
    </ec-virtual-letter-input>
</div>
