@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1.5em;
    &:before {
        content: "...";
        position: absolute;
        right: 0.65em;
        bottom: 0.1em;
    }
    &:after {
        content: "";
        position: absolute;
        right: 0;
        width: 1.5em;
        height: 1em;
        margin-top: 0.2em;
        background: $bgColor;
    }
}

@mixin ellipsis ($max-width){
    display: inline-block;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin line-clamp ($line-count){
    /* stylelint-disable */
    display: -webkit-box;
    /* stylelint-enable */
    -webkit-line-clamp: $line-count;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin visually-hidden() {
    margin: -1px;
    padding: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

@mixin btn-no-box-shadow() {
    outline: none;
    &:focus,
    &:visited,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

@mixin btn-reverse($color) {
    color: $color;
    background: #ffffff;
    font-weight: bold;
    @include btn-no-box-shadow();
    &:hover {
        opacity: 1;
    }
}

@mixin browser-container-wrapper() {
    @media (min-width: 1441.1px){
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin course-container-wrapper() {
    @media (min-width: 1200.1px){
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin browse-container() {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 750px;
    }
    @media screen and (min-width: 992px) {
        width: 970px;
    }
    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
    @media screen and (min-width: 1441.1px) {
        width: 1440px;
    }
}

@mixin video-container() {
    @media screen and (min-width: 991px) {
        min-width: 700px;
        min-height: 400px;
    }
}

@mixin btn-round-hover() {
    border: 1px solid rgba(20, 23, 28, 0.05);
    background: rgba(20, 23, 28, 0.05);
}

@mixin custom-scrollbar($size, $border-radius, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
        background-color: $foreground-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius;
        background-color: $background-color;
    }
}

@mixin hide-scrollbar() {
    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

@mixin ec-notification() {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 2em;
    &-icon {
        font-size: 4em;
        color: #d2d3d6;
        margin-bottom: 1rem;
        text-align: center;
    }
    &-text {
        text-align: center;
        line-height: 1.8;
        color: #848d9a;

        span {
            display: block;
        }
    }
}

@mixin embed-responsive() {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    iframe, video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@mixin ec-box-shadow() {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1) !important;
}

@mixin ec-box-shadow-hover() {
    box-shadow: 0 0 15px 1px rgba(20, 23, 28, 0.1), 0 3px 16px 0 rgba(20, 23, 28, 0.1) !important;
    transform: translateY(-5px);
}

@mixin loader-bg($bg-color) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

@mixin from-black-to-color-primary-one-filter() {
    filter: invert(18%) sepia(88%) saturate(4124%) hue-rotate(347deg) brightness(84%) contrast(97%);
}

$ghost-tile-background: #F6F6F6;

@keyframes placeHolderShimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, $ghost-tile-background 8%, #F0F0F0 18%, $ghost-tile-background 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

@mixin animated-bg() {
    @extend .animated-background;
}

.normalized-btn {
    border: 0;
    outline: 0;
    background: transparent;
    box-shadow: none;
}

@mixin normalize-btn() {
    @extend .normalized-btn;
    &:active {
        @extend .normalized-btn;
    }
    &:focus {
        border: 0;
        outline: 0;
        box-shadow: none;
    }
}

@mixin ec-box-shadow-light() {
    box-shadow: 0 2px 4px #ccc, 0 0 1px #ccc;
}

@mixin grid-row-span($start, $span-width: 0) {
    @if ($span-width > 0) {
        grid-row: $start / span $span-width;
    } @else {
        grid-row: span $start;
    }
}

@mixin grid-column-span($start, $span-width: 0) {
    @if ($span-width > 0) {
        grid-column: $start / span $span-width;
    } @else {
        grid-column: span $start;
    }
}

@mixin scroll-bar-light() {
    &::-webkit-scrollbar {
        width: 10px;
        cursor: pointer;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
