@if (isDebugMode()) {
    <div ngbDropdown class="difficulty-type-selector d-inline-block">
        <button type="button" class="btn btn-outline-light text-tertiary" ngbDropdownToggle>
            @if (getDifficultyType()) {
                <span class="text-uppercase">{{ getDifficultyTypeName(getDifficultyType()) }}</span>
            } @else {
                <span i18n>EnglishCentral</span>
            }
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="setDifficultyType(undefined)" ngbDropdownItem i18n>EnglishCentral</button>
            @for (difficultyType of getDifficultyTypes();track difficultyType) {
                <button (click)="setDifficultyType(difficultyType) " ngbDropdownItem
                        class="text-uppercase">{{ getDifficultyTypeName(difficultyType) }}
                </button>
            }
        </div>
    </div>
}

@if (getMicroLevel()) {
    <div class="d-flex justify-content-center align-items-center">
        <span i18n>Your Level</span>
        <span class="ms-2 level text-white text-nowrap rounded-circle fw-bold d-flex justify-content-center align-items-center"
              [class.bg-beginner]="isDifficultyBeginner()"
              [class.bg-intermediate]="isDifficultyIntermediate()"
              [class.bg-advanced]="isDifficultyAdvanced()"
        >
            @if (getDifficultyType()) {
                {{ getDifficultyLevelName(getMicroLevel()) }}
            } @else {
                {{ getMicroLevel() }}
            }
        </span>
    </div>
}

@if (getLevelTestSteps()) {
    @if (isLoading()) {
        <div class="bands d-flex flex-column align-items-center justify-content-center h-100">
            <ec-loading-ring [themeClass]="'dark'"></ec-loading-ring>
        </div>
    } @else {
        <div class="d-flex flex-column align-items-center justify-content-center mb-2">
            <div class="progress-row w-75 mt-2 align-items-center">
                @for (step of getLevelTestSteps();track $index) {
                    @if (!getDifficultyLevelName(getBandLevel(step))) {
                        <span class="band-level text-start" i18n>Level {{ getBandLevel(step) }}</span>
                    } @else {
                        <span class="d-flex flex-column justify-content-center align-items-start">
                            <span class="band-level text-start text-uppercase fw-bold mt-2">{{ getDifficultyTypeName(getDifficultyType()) }} {{ getDifficultyLevelName(getBandLevel(step), false) }}</span>
                            <span class="band-level text-start level-subtext" i18n>Level {{ getBandLevel(step) }}</span>
                        </span>
                    }
                    <span class="shadow-sm">
                        <ngb-progressbar
                                type="success"
                                [value]="getPercentage(step)"
                                [class.failed-band]="isFailedBand(step)"
                                height="1.2em"
                        ></ngb-progressbar>
                    </span>
                    <span class="result text-end" [class.fw-bold]="isStepCompleted(step)">{{ getResult(step) }}</span>
                }
            </div>
        </div>
    }
} @else if (!getLevelTestSteps() && getWordProgressByDifficulty()) {
    <div class="d-flex flex-column align-items-center justify-content-center mb-2">
        <div class="progress-row w-75 mt-2 align-items-center">
            @for (difficulty of getWordProgressByDifficulty();track $index) {
                @if (difficulty?.total) {
                    @if (!getDifficultyLevelName(difficulty.difficultyLevel)) {
                        <span class="band-level text-start" i18n>Level {{ difficulty.difficultyLevel }}</span>
                    } @else {
                        <span class="d-flex flex-column justify-content-center align-items-start">
                            <span class="band-level text-start text-uppercase fw-bold mt-2">{{ getDifficultyTypeName(getDifficultyType()) }} {{ getDifficultyLevelName(difficulty.difficultyLevel) }}</span>
                            <span class="band-level text-start level-subtext"
                                  i18n>Level {{ difficulty.difficultyLevel }}</span>
                        </span>
                    }
                    <span class="shadow-sm">
                        <ngb-progressbar
                                type="success"
                                [value]="getDifficultyPercent(difficulty)"
                                [class.failed-band]="isDifficultyFailed(difficulty)"
                                height="1.2em"
                        ></ngb-progressbar>
                     </span>
                    <span class="result text-end" [class.fw-bold]="isFirstFail(difficulty)">{{ difficulty.correct }}
                        /{{ difficulty.total }}</span>
                }
            }
        </div>
    </div>
}
