@import "global-styles/themes/mixins";
@import "global-styles/themes/breakpoints";


.vocabulary-app {
    font-size: 14px;
    position: relative;
}

.vocabulary-app-tabs {
    border-bottom: 1px solid #dedfe0;
}

.vocabulary-app-tabs-inner {
    @include browse-container();
}

.vocabulary-app-tabs-wrapper {
    display: flex;
    justify-content: center;
    height: 50px;
}

.vocabulary-tab {
    position: relative;
    height: 100%;
    padding: 13px 15px !important;
    display: flex !important;
    align-items: center;
    font-size: 13.5px !important;
    &.active {
        font-weight: bold;
    }
    &.active:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        border-top-width: 3px;
        border-top-style: solid;
        width: 100%;
    }
}
